body {
    margin: 0;
    padding: 0;
}
main {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
#logo {
    width: 200px;
}
input {
    display: block;
}
.enroll-input {
    border-radius: 10px;
    border: 2px solid rgb(199, 199, 199);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 600px;
    margin-top: 5px;
    margin-bottom: 20px;
}
#submit {
    background: linear-gradient(90deg, #F53D7D, #642BFF);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
}
label {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #logo {
        width: 100px;
    }
}