@font-face {
    font-family: Quicksand;
    src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf");
}

body {
    font-family: Quicksand, sans-serif;
    padding: 0;
    margin: 0;
}
#big-init {
    text-align: center;
    color: white;
    padding-top: 40px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -100px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#big-init h1 {
    position: relative;
    text-align: center;
    font-size: calc(15px + 8vw);
    z-index: 0;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    margin-bottom: 50px;
  }
  
  #big-init h1:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-shadow: 
        0px 1px 20px rgba(0, 0, 0, 0.15),
        0px 1px 20px rgba(0, 0, 0, 0.15),
        0px 1px 20px rgba(0, 0, 0, 0.15);
    z-index: -1;
  }
#request {
    background-color: white;
    color: black;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}
.box-index {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    width: calc(90% - 20px);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    background-color: white;
}
.box-index img {
    width: 30%;
    min-width: 30%;
    border-radius: 15px;
    height: 175px;
    object-fit: cover;
    margin-right: 10px;
}
.def-btn {
    background-color: white;
    border-radius: 20px;
    width: -moz-fit-content;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
    #big-init {
        height: 450px;
        margin-bottom: -50px;
    }
    #big-init h1 {
        font-size: 43px;
    }
    .box-index {
        flex-direction: column;
        text-align: center;
    }
    .box-index img {
        width: 100%;
        margin-right: 0;
    }
    .def-btn {
        float: none;
    }
}